<a href="https://colab.research.google.com/github/Shreya-7558/Capstone-Project---Introduction-to-Computer-Programming/blob/main/Capstone_Project_Introduction_to_Computer_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Guidelines**


**1. About the Project:**

The Introduction to Computer Programming project is designed to evaluate your understanding and practical application of fundamental programming concepts using Python. This assessment encompasses various topics, including data types, indexing, slicing, operators, in-built functions, statements, conditionals, loops, object-oriented programming, and exception handling. In addition, you will showcase your ability to create custom functions and tackle advanced looping concepts.

**2. Skills Required:**

  To successfully complete this project assessment, you should possess the following skills and knowledge:
- Proficiency in Python programming language
- Understanding of data types, indexing, and slicing in Python
- Familiarity with operators, in-built functions, and methods
- Ability to work with statements, indentation, and conditionals
- Competence in implementing loops and iterations, including conditional and infinite looping
- Mastery of creating and utilizing custom functions in Python
- Knowledge of advanced looping concepts
- Understanding of object-oriented programming (OOPs) principles in Python
- Ability to handle exceptions in your code

**3. Deliverables:**

You are required to submit the following items for evaluation:
- Completed Python coding solutions for the given questions (coding assessment)
- Collab link containing your Python code for each question
- Video explanation for any five coding questions (demonstrating your understanding and approach)

**4. Rubrics:**

Your project assessment will be evaluated based on the following rubrics:

**a. Coding Assessment:**

- Correctness of the code solution
- Efficient use of coding constructs
- Clear and well-structured code organization

**b. Collab Link:**

- Submission of Python code through the provided Collab link
- Proper organization of code files and resources

**c. Video Explanation:**

- Clear articulation of solution approach
- Coverage of important concepts and logic
- Coherent and well-structured explanation

Please use these pointers as the basis for evaluating each section of the project assessment.

# **CodeStorm Challenge: Solving and Explaining Complex Coding Problems**

**Problem Statement:**

The CodeStorm Challenge is an intense coding competition designed to test participants' programming skills, problem-solving abilities, and communication prowess. In this challenge, participants will be required to solve a total of 30 intricate coding questions that cover a wide range of algorithms, data structures, and programming paradigms. Additionally, participants are tasked with creating an explanatory video that delves into the solutions of any five chosen questions.

The challenge aims to evaluate participants on their coding efficiency, algorithmic thinking, and presentation skills. Participants will need to not only implement correct and optimized solutions to the coding problems but also effectively communicate their thought processes and strategies in the form of a video presentation.

**Key Objectives:**

* Coding Proficiency: Participants must demonstrate their ability to write clean, efficient, and bug-free code to solve complex programming challenges within a time-constrained environment.

* Problem Solving: The challenge will encompass a variety of problem domains, including dynamic programming, graph algorithms, string manipulation, and more. Participants should showcase their prowess in breaking down problems, designing algorithms, and translating solutions into code.

* Communication Skills: In addition to coding skills, participants need to exhibit strong communication skills by creating a comprehensive video explaining the thought process, approach, and solution to five selected problems. Clarity, conciseness, and coherence in the video are essential.

* Time Management: Participants will need to efficiently manage their time throughout the challenge, allocating sufficient time to solve each question and ensuring they have ample time to create high-quality explanatory videos.

* Adaptability: As the challenge encompasses a diverse set of coding problems, participants must be adaptable in applying different algorithms and techniques to solve problems that may vary in difficulty and complexity.

**Note:**

1. Solve 30 coding problems out of the different problem statements given here.
2. Create a video explaining any 5 questions and include the video link before submitting.

GitHub Link -

# **Introduction to Python Programming**

## Score Board Operator
An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task.
According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

* wins: 3 points
* draws: 1 point
* losses: 0 points




Team London has played **8 matches** in this tournament. They won **4 matches**, lost **3 matches** and **drew 1**.
The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [ ]:
#1. Define your fixed values:
wins= 3
draws= 1
losses= 0

In [ ]:
#2. Calculate the total points gained by Team London
total_point=((4*wins)+(3*losses)+(1*draws))

In [ ]:
# 3. Print the variable london_points
print("the total London points is",total_point)

the total London points is 13

## Nutrition bar ingredient chart

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains **45g of raisins, 65g of almonds, and 30g of apricots**. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:
# Calculate the percentage of raisins and print the variable
raisins= 45
almonds= 65
apricots=30

total_nutri=(raisins+almonds+apricots)
per_raisins=(raisins*100)/total_nutri
print(per_raisins)

32.142857142857146

In [ ]:
# Calculate the percentage of almonds and print the variable

per_almonds=(almonds*100)/total_nutri
print(per_almonds)

46.42857142857143

In [ ]:
# Calculate the percentage of apricots and print the variable

per_apricots=(apricots*100)/total_nutri
print(per_apricots)

21.428571428571427

## Measuring the Accuracy of a Disease Detection Model- Optional

If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of **100 patients**, including **30 with diabetes**, **45 with heart disease**, and **25 with cancer**.
The model's performance was evaluated in three rounds.
In the first round, the model correctly **detected diabetes in 25 out of the 30 patients** with the disease.
In the second round, the model correctly detected **heart disease in 35 out of the 45 patients** with the disease.
In the final round, the model correctly **detected cancer in 20 out of the 25 patients** with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

In [ ]:
# Store the number of heart disease patients
heart_disease= 45

# Store the number of diabetes patients
diabetes=30

# Store the number of cancer patients
cancer=25

# Store the number of your correct guesses of heart disease patients
corr_guess_hd=(heart_disease-10)

# Store the number of your correct guesses of diabetes patients
corr_guess_dib=(diabetes-5)

# Store the number of your correct guesses of cancer patients
corr_guess_cancer=(cancer-5)

#### Calculate your accuracy in each of the three cases

In [ ]:
# Print the heart disease detection accuracy
print("the heart disease detection",corr_guess_hd)

the heart disease detection 35

In [ ]:
# Print the diabetes detection accuracy
print("the diabetes detection ",corr_guess_dib)

the diabetes detection  25

In [ ]:
# Print the cancer detection accuracy
print("the cancer detection accuracy",corr_guess_cancer)

the cancer detection accuracy 20

In [ ]:
# Print the overall accuracy of your model
total_corr_guess=(corr_guess_hd+corr_guess_dib+corr_guess_cancer)

total_no_patients=(heart_disease + cancer + diabetes)

overall_accuracy=(total_corr_guess*100)/total_no_patients
print("the overall accuracy of the model",overall_accuracy)

the overall accuracy of the model 80.0

# **Data Types in Python**

## Solving Algebra the Cool Way ðŸ˜Ž

You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. ðŸ˜«
Consider a quadratic function:

***f(x)=x^2+3x-4***

Find the value of f(x) at x =3 , x=-2, and x=4

Doing this manually like the old days would be a tedious job ðŸ˜ž. But now you have python at your disposal ðŸ™‚ !
How would you approach this problem using what you have learned?

In [ ]:
# Calculate the value of the function f(x) at x = 3
x=3
func_evaluated_at_3 =(x**2+3*x-4)
print(func_evaluated_at_3)

14

In [ ]:
# Calculate the value of the function f(x) at x = -2
x=-2
func_evaluated_at_minus2 =(x**2+3*x-4)
print(func_evaluated_at_minus2)

-6

In [ ]:
# Calculate the value of the function f(x) at x = 4
x=4
func_evaluated_at_4 =(x**2+3*x-4)
print(func_evaluated_at_4)

24

In [ ]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2
if(func_evaluated_at_3 >= func_evaluated_at_minus2):
  print("True")

True

In [ ]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not

if(func_evaluated_at_3, func_evaluated_at_minus2 or func_evaluated_at_4 ==0):
  print("True")
else:
  print("False")

True

## Finding total A's in the Bookshelves

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. ðŸ˜€

Are you ready to accept the challenge? ðŸ’ª

In [ ]:
# Here's the list of books
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
# Store the count of books containing A/a in the title. Note this will be a case insensitive search
a_counts =books.count("a")

A_counts= books.count("A")

books_lower=books.lower()

total_a_counts=books_lower.count("a")

In [ ]:
# Print the value
print(f"The total number of 'a's in the list of books is {total_a_counts}")

The total number of 'a's in the list of books is 7

## Unleashing the Power of Mean in Exam Analysis

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! ðŸ’ª

In [ ]:
# List of student marks

marks = [67,87,75,46,89,97,68,98,87,88]
total_student_marks=sum(marks)
print("Sum of Marks : ",total_student_marks)

len_student_marks=len(marks)
print("len of Marks :",len_student_marks)

Sum of Marks :  802
len of Marks : 10

In [ ]:
# Calculate the mean of the marks. Use sum() and len() functions
mean_marks =(total_student_marks/len_student_marks)

In [ ]:
print("the mean of the student marks : ",mean_marks)

the mean of the student marks :  80.2


## John's Fruit Stand Sales Mix-up

You must remember from the previous lessons that dictionaries can be used to store values corresponding to a particular key. But how is this helpful to us?

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

**['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']**
ðŸ¤¦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
#Here's John's list:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

In [ ]:
# Step 2: Create an empty dictionary which will contain the unique fruit names
fruit_dict={}

# Set the values for each key separately

# First Key
fruit_dict['Mango']=fruit_list.count('Mango')

# Second Key
fruit_dict['Pineapple']=fruit_list.count('Pineapple')

# Third Key
fruit_dict['Apple']=fruit_list.count('Apple')

# Fourth Key
fruit_dict['Banana']=fruit_list.count('Banana')

In [ ]:
print(fruit_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

# **Indexing & Slicing**

## Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:

* Namor
* Doctor Strange
* Wolverine
* Captain America
* Black Widow
* Thor

In [ ]:
new_marvel = marvel_words[-6:]

Write a code to slice these characters from the list

In [ ]:
# Replace x with appropriate values
new_marvel=marvel_words[x:]

## Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [ ]:
#Add appropriate index and step size
team1 = marvel_words[::2]  # Select characters at even index positions
team2 = marvel_words[1::2]  # Select characters at odd index positions

###3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [ ]:
spider_man=marvel_words[2] # Add appropriate index number
spidey_sliced=spider_man[0:6] # Add appropriate index number
print(spidey_sliced)

Spider

###4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
#Your code here
iron_man=marvel_words[3]
reversed_man=iron_man[::-1]
print(reversed_man)

naM norI

# **Operators in Data Types**


## ðŸŽ‰ Let's do some math!

* ðŸ“ First up, let's calculate the area of a square with sides that measure 5 cm. ðŸ¤” How much space does this shape occupy?

* ðŸ” Next, let's find the volume of a cube with sides that measure 12 cm. ðŸ“ How much room does this shape take up?

* ðŸ”¢ Lastly, we'll find the quotient and remainder when we divide 10 by 4. ðŸ§ How many times does 4 fit into 10? What's left over?

In [ ]:
sqr_side_len=5
ar_square=sqr_side_len*sqr_side_len

cube_side_len=12
vol_cube=cube_side_len*cube_side_len*cube_side_len

divident=10
divisor=4
quotient=(divident/divisor)
remainder=divident*divisor

print("The reminder is : ",remainder)
print("The quetiont is : ",quotient)
print("The volume of cube",vol_cube)
print("Area of square : ",ar_square)

The reminder is :  40
The quetiont is :  2.5
The volume of cube 1728
Area of square :  25

## ðŸ“š Let's practice some comparison operators! Here's a problem for you to solve:

ðŸŽ The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! ðŸŽðŸ

In [ ]:
# Your code here
basket1=12
basket2=8
# Is the number of apples in the first basket greater than the number of apples in the second basket?
is_greater = basket1 > basket2

# Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
is_less_or_equal = basket2 <= basket1

# Is the number of apples in the first basket equal to the number of apples in the second basket?
is_equal = basket1 == basket2

# Is the number of apples in the second basket not equal to the number of apples in the first basket?
is_not_equal = basket2 != basket1

# Print the results
print(f"Is the number of apples in the first basket greater than the second basket? {is_greater}")
print(f"Is the number of apples in the second basket less than or equal to the first basket? {is_less_or_equal}")
print(f"Is the number of apples in the first basket equal to the second basket? {is_equal}")
print(f"Is the number of apples in the second basket not equal to the first basket? {is_not_equal}")

Is the number of apples in the first basket greater than the second basket? True
Is the number of apples in the second basket less than or equal to the first basket? True
Is the number of apples in the first basket equal to the second basket? False
Is the number of apples in the second basket not equal to the first basket? True

## ðŸŒ´ Are you ready for your trip to Goa? ðŸŒŠ You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

ðŸ§³ One of your bags weighs 15 kg, while the other one weighs only 5 kg. ðŸ’ª You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

ðŸ‘®â€â™€ï¸ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5
total_weight=bag1_weight + bag2_weight

# Check if both bags weigh less than 13 kg
if (bag1_weight<13 and bag2_weight<13):
  print("you can go through")
else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

**OR**

ðŸ§³ Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. ðŸ˜Š

ðŸ‘¨â€âœˆï¸ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. ðŸ›«

ðŸ¤” Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if at least one bag weighs less than 6 kg
if(bag1_weight<6 or bag2_weight<6):
  print("Enjoy your trip!")    # if the result is True, print("Enjoy your trip!")
else:
  print("Sorry, You can not go through !")  # Else, If the result is False, print("Sorry, You can not go through!")

Enjoy your trip!

**OR**

ðŸ¤” Did you notice how we made a decision on which print statement to use based on the result of our logical operators? ðŸ¤”

ðŸš€ Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious ðŸ˜Ž

## ðŸ“š Imagine that you're a book lover with a collection of lot of books. ðŸ¤“

ðŸ”Ž You need to find out how many of your books contain the word "Python" in them. ðŸ

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [ ]:
count=0     # run this only once

for book in books:

  if "Python" in book:

    count=count+1
print("The number of python count in Books : ",count)           # Change x to 0,1,2 and 3.

The number of python count in Books :  2

In [ ]:
count=count+1
print(count)

# **In-Built Functions & Methods**

## Here is a string for you to work with:

In [ ]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [ ]:
print(statement)

anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

1. Create a list containing the three sentences in the statement.
Hint: Use split() method.

In [ ]:
# Create a list containing the three sentences in the statement.

sentence_list= statement.split('.')
print(sentence_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

2. The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [ ]:
# The name 'anas' is spelled wrong.
# Replace it with 'Anas'.
corrected_statement = statement.replace('anas', 'Anas')

#Redefine the statement, with the correction.
print(corrected_statement)

Anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

3. The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
# Make corrections here.
# The original statement
statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

# Replace the incorrect book title with the corrected title
corrected1_statement = statement.replace("the shawshank redemption", "The Shawshank Redemption")

# Print the corrected statement
print(corrected1_statement)

anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

4. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
# Change the recommendation of movie to one, of your choice.
# Take input of movie

new_movie=input("Which movie wold you recommend? ")

# The original statement
statement="Anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

# Replace "The Shawshank Redemption" with the new movie recommendation
corrected_statement = statement.replace("The Shawshank Redemption", new_movie)

# Print the corrected statement
print(corrected_statement)
print(statement)

Which movie wold you recommend? Tiger
Anas eagerly recommended 'Tiger' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.
Anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

## ðŸŽ¥ Suppose you have a collection of your favorite movies ðŸ¿ðŸŽžï¸ and you want to keep track of them using a Python list ðŸ“œ. You start with an empty list [] and keep adding new movies ðŸ†• to it. You also want to be able to remove movies âŒ that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count ðŸ”¢ how many movies you have in your collection and reverse the order of the list ðŸ”„.

In [ ]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("Movie 1") # Use your favourite movie names
movie_collection.append("Movie 2")
movie_collection.append("Movie 3")
movie_collection.append("Movie 4")
movie_collection.append("Movie 5")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)

# Remove a movie from the collection using the pop() method (remove index 3)
movie_collection.pop(3)
print("After removing movie 4:", movie_collection)

# Code to remove index 3 here
print("After removing movie 4", movie_collection)

# Count how many movies are in the collection using the count() method
num_movies =len(movie_collection)
print("Number of movies:", num_movies)

# Reverse the order of the list using the reverse() method

print("Reversed movie collection:", movie_collection)

My Movie Collection: ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 4', 'Movie 5']
After removing movie 4: ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 5']
After removing movie 4 ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 5']
Number of movies: 4
Reversed movie collection: ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 5']

## ðŸ‘©â€ðŸ« A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

ðŸ‘¨â€ðŸŽ“ Their role numbers are defined as their index number + 1.

ðŸ–¥ï¸ Write a program which would take the name of the student as input and return their role number.

In [ ]:
# Tuple containing the names of students
student_tuple = ('Adam', 'Alice', 'Ben', 'Bilal', 'Bharath')

# Take input from the user to enter a student's name
student = input("Input the student name to get roll number: ")

try:
    # Find the index of the student's name in the tuple and add 1 to get the role number
    role_number = student_tuple.index(student) + 1

    # Print the student's name and role number
    print(student, "'s roll number is:", role_number)
except ValueError:
    # Handle the case where the student's name is not found in the tuple
    print("Student not found in the list.")

Input the student name to get roll number: alise
Student not found in the list.

## A store ðŸª sells different types of fruits ðŸŽðŸŒðŸ‡ðŸ“ in baskets ðŸ§º. The storekeeper ðŸ§‘ keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. ðŸ¤”

In [ ]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

# Find fruits available in both baskets (union of sets)
both_baskets = basket1.union(basket2)

# Find the total number of fruits available (size of the union)
total_fruits = len(both_baskets)
print("Total number of fruits available:", total_fruits)

# Find common fruits in both baskets (intersection of sets)
common_fruits = basket1.intersection(basket2)
print("Common fruits in both baskets:", common_fruits)

# Find fruits unique to each basket (difference of sets)
unique_basket1 = basket1.difference(basket2)
unique_basket2 = basket2.difference(basket1)

print("Fruits unique to basket 1:", unique_basket1)
print("Fruits unique to basket 2:", unique_basket2)

Total number of fruits available: 6
Common fruits in both baskets: {'orange', 'banana'}
Fruits unique to basket 1: {'grape', 'apple'}
Fruits unique to basket 2: {'pineapple', 'mango'}

# **Statements, Indentation & Conditionals**

## ðŸ‘‰ Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".

In [ ]:
# Get the lead content of the packaged food material
lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

# Check if the lead content exceeds 5%
if lead_content > 5:
    print("This batch cannot be approved")

Please enter the lead content of the packaged food material in percentage: 50
This batch cannot be approved

## ðŸ‘‰ Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".

In [ ]:
age = int(input("enter the age"))


#Check the age of the guest
if age < 18:
    print("Sorry, you cannot enter!")

enter the age17
Sorry, you cannot enter!

## ðŸ‘‰ Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"

In [ ]:
# Get the client's weight loss
client_weight_loss = float(input("Please enter the client's weight loss (in pounds): "))

# Check if the client reached their weight loss goal
if client_weight_loss >= 10:
    print("Congratulations, you have reached your weight loss goal!")
else:
    print("Sorry, you have not reached your weight loss goal yet. Keep up the good work!")

Please enter the client's weight loss (in pounds): 10
Congratulations, you have reached your weight loss goal!

##ðŸ‘‰ Imagine: You're a gardener and need to check if a plant needs watering. If the soil moisture level is below 40%, print "Water the plant!", otherwise, print "The plant doesn't need watering."

In [ ]:
# Take input of moisture level
moisture_level = int(input("Enter moisture level "))

#Check if moisture level is satisfactory or not

##ðŸ“¦ðŸ“¬ðŸšš Creating a shipping cost calculator! âš™ï¸

You need to create a program that calculates the cost of shipping a package based on its weight and destination ðŸ“¦ðŸ’°

ðŸŒ Domestic shipping within the country :

* Packages weighing up to 1 kg cost Rs.50 to ship ðŸ¤‘
Each additional kg costs Rs.10 extra ðŸ’°

ðŸŒŽ International shipping to other countries ðŸŒ:

* Packages weighing up to 1 kg cost Rs.500 to ship ðŸ¤‘

Each additional kg costs Rs.100 extra ðŸ’°
Ready to ship? ðŸš›ðŸš€

## ðŸš— As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules! ðŸ“

ðŸš˜ If the car price is less than Rs. 10,00,000, there is no discount.

ðŸŽ If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

ðŸŽ‰ If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

ðŸ¥³ If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts? ðŸš—ðŸ’°

# **Loops & Iterations**

## You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
] # list of a list

In [ ]:

max_avg = 0
max_index = -1  # Initialize to -1 to indicate no player with a valid average roll

for index, rolls in enumerate(player_rolls):
    # Calculate the average roll for the current player
    average_roll = sum(rolls) / len(rolls)

    # Check if the current player has a higher average roll than the current maximum
    if average_roll > max_avg:
        max_avg = average_roll
        max_index = index

    # Print the average roll for the current player
    print(f"Player {index + 1}'s Average Roll: {average_roll}")

# Check if there is a player with a valid average roll and announce the winner
if max_index != -1:
    print(f"Player {max_index + 1} is the luckiest with an average roll of {max_avg}.")
else:
    print("No valid average rolls found.")

Player 1's Average Roll: 3.4
Player 2's Average Roll: 3.8
Player 3's Average Roll: 4.4
Player 3 is the luckiest with an average roll of 4.4.

**Instructions:**

1. Define a list of rolls for each player, where each list contains the numbers rolled by the player.
2. Use a for loop to iterate over each player's rolls in the list of player rolls.
3. For each player, calculate the average roll by summing up all the rolls and dividing by the number of rolls. You can use the formula sum(rolls) / len(rolls) to do this.
4. Print out each player's average roll using f-strings to display the player number and their average roll to two decimal places.

## Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant. To achieve this, you'll use a nested loop and some basic conditional statements.

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]
# List of rolls for each player
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
]

# Calculate and print the average roll for each player
for index, rolls in enumerate(player_rolls, start=1):
    average_roll = sum(rolls) / len(rolls)
    print(f"Player {index}'s Average Roll: {average_roll:.2f}")

# List of names
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]

# Initialize lists for names starting with vowels and consonants
vowel_names = []
consonant_names = []

# Loop through each name and categorize them
for name in names:
    first_letter = name[0].lower()
    if first_letter in ['a', 'e', 'i', 'o', 'u']:
        vowel_names.append(name)
    else:
        consonant_names.append(name)

# Print the categorized names
print("\nNames Starting with Vowels:")
for name in vowel_names:
    print(name)

print("\nNames Starting with Consonants:")
for name in consonant_names:
    print(name)

Player 1's Average Roll: 3.40
Player 2's Average Roll: 3.80
Player 3's Average Roll: 4.40

Names Starting with Vowels:
Alice
Eve
Ivy
Olivia

Names Starting with Consonants:
Bob
Charlie
David
Peter

**Instructions**

1. Start by defining a list of names. You can call this list names and initialize it with a few names.

2. Define two empty lists to store the names that start with vowels and consonants, respectively. You can call these lists vowel_names and consonant_names.

3. Use a nested loop to iterate through each name in the names list. The outer loop should iterate through each name, while the inner loop should iterate through each character in the name.

4. Inside the inner loop, use an if statement to check if the first letter of the name is a vowel or a consonant. You can do this by checking if the first character of the name is in a list of vowels.

5. If the first letter is a vowel, append the name to the vowel_names list using the append() method.

6. If the first letter is a consonant, append the name to the consonant_names list using the append() method.

7. Once the loop has finished iterating through all the names, use the print() function to print the two lists of names. You can include a message indicating which list contains the names that start with vowels and which list contains the names that start with consonants

## You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

# Write Your Code Here

**Instruction**

1. Define a dictionary to store the grades of the students. The keys of the dictionary should be the names of the students, and the values should be their respective grades.

2. Loop through the dictionary using a for loop and retrieve the grade of each student.

3. Check if the grade is greater than 90%. If it is, print out the name of the student.

4. Repeat steps 2-3 for all the students in the dictionary.

5. Once the loop is complete, the names of the students who scored above 90% will have been printed to the console.

### **Solution**

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

# Write Your Code Here
for student, grade in grades.items():
    if grade > 90:
        print(student)

Bob
David
Frank

## You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.

List - numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

**Instructions**

1. Inititate the odd and even count variables.
2. Iterate through the outer list first. ie, [2,5,11,20,8] would be the item in the first iteration.
3. Iterate through this resulting list using an inner for loop.
4. Check if the number is odd or even, and add the count to the counter variables initialised before.
5. Print the odd and even counts.

In [ ]:
# List of numbers
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

# Your code here:

## Imagine you're organizing a chess tournament ðŸ†, where each player has to play against every other player. To achieve this, you can use nested loops in Python! Nested loops are simply loops within loops, and they come in handy when you need to perform tasks involving multiple levels of iteration.

In Python, you can nest 'for' loops, 'while' loops, or even a combination of both. Let's take a closer look at how nested loops work using our chess tournament scenario:

In [ ]:
# Write Your Code Here
players = ['Alice', 'Bob', 'Charlie', 'Diana']
# List of players
players = ["Player 1", "Player 2", "Player 3", "Player 4"]

# Iterate over each player
for player1 in players:
    # Inner loop to iterate over all other players
    for player2 in players:
        # Check if the players are not the same
        if player1 != player2:
            # Print the matchup
            print(f"{player1} vs {player2}")

Player 1 vs Player 2
Player 1 vs Player 3
Player 1 vs Player 4
Player 2 vs Player 1
Player 2 vs Player 3
Player 2 vs Player 4
Player 3 vs Player 1
Player 3 vs Player 2
Player 3 vs Player 4
Player 4 vs Player 1
Player 4 vs Player 2
Player 4 vs Player 3

**Instructions**

1. Inititiate the list.
2. Iterate through the list in first loop.
3. Iterate throught the same list in inner loop.
4. Compare the element in the outer and inner loops. If they are not the same players, print "Player x plays against Player y".

# **Conditional & Infinite Looping**

## **Building a Simple Calculator**

In this activity, you will build a simple calculator using conditional looping in Python. The calculator will ask the user for two numbers and an operation (addition, subtraction, multiplication, or division), and then perform the operation on the two numbers.

**Instructions**:

1. First, enter your first choice number.
2. Second, enter your second choice number.
3. Choose or enter the operation you want to perform.User Input will be "(addition, subtraction, multiplication, or division)".
4. Use a conditional loop to perform the appropriate operation you want to perform.
5. Finally, print the result of the operation.

In [ ]:
# Write code here

# Get user input for the first number
num1 = float(input("Enter the first number: "))

# Get user input for the second number
num2 = float(input("Enter the second number: "))

# Get user input for the operation (addition, subtraction, multiplication, or division)
operation = input("Choose the operation (addition, subtraction, multiplication, or division): ")

# Perform the appropriate operation based on user input
result = 0

if operation == "addition":
    result = num1 + num2
elif operation == "subtraction":
    result = num1 - num2
elif operation == "multiplication":
    result = num1 * num2
elif operation == "division":
    if num2 != 0:  # Check for division by zero
        result = num1 / num2
    else:
        print("Division by zero is not allowed.")
        exit()  # Exit the program if division by zero is attempted
else:
    print("Invalid operation entered.")
    exit()  # Exit the program for invalid operation

# Print the result
print(f"Result of {operation}: {result}")

Enter the first number: 2
Enter the second number: 5
Choose the operation (addition, subtraction, multiplication, or division): division
Result of division: 0.4

## **Building a Guessing Game**

In this activity, you will build a simple guessing game using conditional looping in Python. The game will generate a random number between 1 and 100, and the user will have to guess the number within a certain number of tries. The program will provide hints to the user after each guess, telling them whether their guess is too high or too low.

**What is the random module?**

The random module is a built-in Python module that provides a suite of functions for generating random numbers and sequences. This module is often used in applications where randomization is important, such as games, simulations, and cryptography.

You do not need to worry much about this as you will be learning about these modules and functions in the upcoming classes.

**Instructions:**

1. First, import the "random" module to generate a random number for the game.
2. Next, enter the number of tries you want to have and set a counter to keep track of how many tries you are left with.
3. Now, use a while loop to allow yourself to keep guessing until you either guess the correct number or run out of tries.
4. Finally, if you run out of tries without guessing the correct number, print a message telling what the secret number was.

In [ ]:

# Write code here
import random

# Generate a random number between 1 and 100
secret_number = random.randint(1, 100)

# Number of tries
max_tries = 5
tries_left = max_tries

print("Welcome to the Guessing Game!")
print(f"You have {max_tries} tries to guess the secret number between 1 and 100.")

while tries_left > 0:
    # Get the user's guess
    guess = int(input("Enter your guess: "))

    # Check if the guess is correct
    if guess == secret_number:
        print(f"Congratulations! You guessed the secret number {secret_number} correctly!")
        break
    elif guess < secret_number:
        print("Too low. Try again.")
    else:
        print("Too high. Try again.")

    # Decrement the number of tries left
    tries_left -= 1

if tries_left == 0:
    print(f"Sorry, you've run out of tries. The secret number was {secret_number}. Better luck next time!")

Welcome to the Guessing Game!
You have 5 tries to guess the secret number between 1 and 100.
Enter your guess: 58
Too high. Try again.
Enter your guess: 50
Too high. Try again.
Enter your guess: 30
Too high. Try again.
Enter your guess: 5
Too low. Try again.
Enter your guess: 15
Too high. Try again.
Sorry, you've run out of tries. The secret number was 6. Better luck next time!

## **Building a Fibonacci Sequence Generator**

In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers.

In [ ]:
# Write code here

# Get the number of terms for the Fibonacci sequence
num_terms = int(input("Enter the number of terms in the Fibonacci sequence: "))

# Initialize the first two terms of the sequence
first_term = 0
second_term = 1

# Check if the number of terms is valid
if num_terms <= 0:
    print("Please enter a positive integer for the number of terms.")
else:
    # Initialize a counter to keep track of the terms generated
    count = 2  # Starting from the third term (0 and 1 are already initialized)

    # Print the first two terms
    print("Fibonacci Sequence:")
    print(first_term)
    print(second_term)

    # Use a while loop to generate the remaining terms
    while count < num_terms:
        # Calculate the next term in the sequence
        next_term = first_term + second_term

        # Print the next term
        print(next_term)

        # Update the first and second terms for the next iteration
        first_term = second_term
        second_term = next_term

        # Increment the counter
        count += 1

Enter the number of terms in the Fibonacci sequence: 6
Fibonacci Sequence:
0
1
1
2
3
5

**Instructions:**

1. First, enter how many terms you want in the sequence.
2. Then, initialize the first two terms of the sequence.
3. Use a while loop to generate the remaining terms of the sequence.
4. Finally, print the sequence.

## **Counting the Digit**

You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number.

Example:

* Enter start number: 100
* Enter end number: 150
* Enter digit to count: 5
* The digit 5 appears 6 times between 100 and 150.

In [ ]:
# Write code here
# Input the start and end numbers of the range
start_number = int(input("Enter start number: "))
end_number = int(input("Enter end number: "))

# Input the digit to count
digit_to_count = int(input("Enter digit to count: "))

# Initialize a counter variable to keep track of the number of occurrences
count = 0

# Use a for loop to iterate over the range of numbers
for number in range(start_number, end_number + 1):
    # Create a temporary variable to store the current number for digit checking
    current_number = number

    # Use a while loop to check each digit in the current number
    while current_number > 0:
        # Extract the last digit of the current number
        last_digit = current_number % 10

        # Check if the last digit matches the digit to be counted
        if last_digit == digit_to_count:
            count += 1

        # Remove the last digit from the current number
        current_number //= 10

# Print the total count of the specified digit
print(f"The digit {digit_to_count} appears {count} times between {start_number} and {end_number}.")

Enter start number: 10
Enter end number: 80
Enter digit to count: 8
The digit 8 appears 8 times between 10 and 80.

**Instructions:**

1. First, input two numbers as the range (start and end) between which the program should count the occurrence of a digit.
2. Then, input the digit that needs to be counted.
3. Initialize a counter variable to keep track of the number of occurrences of the digit.
4. Use a for loop to iterate over the range of numbers between the start and end values (inclusive).
5. Within the for loop, use a while loop to check each digit in the current number. If the digit matches the digit to be counted, increment the counter variable.
6. After the for loop completes, print the total count of the digit that was entered by the user.

# **Custom Functions in Python**

## **Building a Calculator**


In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

**ðŸ’» Code:**

In [ ]:
# Define a function called calculator that takes three arguments: num1, num2, and operation
def calculator(num1, num2, operation):
    if operation == '+':
        return num1 + num2
    elif operation == '-':
        return num1 - num2
    elif operation == '*':
        return num1 * num2
    elif operation == '/':
        if num2 != 0:  # Check for division by zero
            return num1 / num2
        else:
            return "Division by zero is not allowed."
    else:
        return "Invalid operation"

**ðŸ§ª Test Code:**

In [ ]:
# Test the calculator function
# Test the calculator function with different values
result1 = calculator(5, 3, '+')
print("5 + 3 =", result1)

result2 = calculator(10, 4, '-')
print("10 - 4 =", result2)

result3 = calculator(6, 7, '*')
print("6 * 7 =", result3)

result4 = calculator(12, 3, '/')
print("12 / 3 =", result4)

result5 = calculator(8, 0, '/')
print("8 / 0 =", result5)  # Division by zero

result6 = calculator(5, 4, '^')
print("5 ^ 4 =", result6)  # Invalid operation

5 + 3 = 8
10 - 4 = 6
6 * 7 = 42
12 / 3 = 4.0
8 / 0 = Division by zero is not allowed.
5 ^ 4 = Invalid operation

**Instructions:**

1. Define a function called calculator that takes three arguments: num1, num2, and operation.
2. In the function, use an if-else statement to determine the arithmetic operation to perform based on the value of operation.
3. If operation is '+', return the sum of num1 and num2.
4. If operation is '-', return the difference between num1 and num2.
5. If operation is '*', return the product of num1 and num2.
6. If operation is '/', return the quotient of num1 and num2.
7. If operation is not one of the four valid arithmetic operations, return the string "Invalid operation".
7. Test your function by calling it with different values for num1, num2, and operation.

## **Dice Rolling** ðŸŽ²

Roll a dice and display the result. ðŸŽ²

**What is the random module?**

The random module is a built-in Python module that provides a suite of functions for generating random numbers and sequences. This module is often used in applications where randomization is important, such as games, simulations, and cryptography.

You do not need to worry much about this as you will be learning about these modules and functions in the upcoming classes.

**Instructions:**

1. The random module shoud be imported to generate a random number for the dice roll.
2. roll_dice() is defined as a custom function that generates a random number between 1 and 6.
3. The function returns the result of the dice roll.
4. The result variable is assigned to the return value of the roll_dice() function.
5. The result is printed using a formatted string.

In [ ]:
import random

# Define a custom function to roll the dice
def roll_dice():
    return random.randint(1, 6)

# Call the roll_dice() function to get the result of the dice roll
result = roll_dice()

# Print the result using a formatted string
print(f"The dice rolled and the result is: {result}")

The dice rolled and the result is: 3

## **Celsius to Fahrenheit Converter**

Create a custom function that takes in a temperature in Celsius and returns the temperature in Fahrenheit.

**For example**: If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

ðŸ’» Code:

In [ ]:
# Define a function to convert celsius to fahrenheit
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

**ðŸ§ª Test Code:**

In [ ]:
# Example usage
# Test the function
celsius_temperature = 20
fahrenheit_temperature = celsius_to_fahrenheit(celsius_temperature)
print(f"{celsius_temperature} degrees Celsius is equal to {fahrenheit_temperature} degrees Fahrenheit.")

20 degrees Celsius is equal to 68.0 degrees Fahrenheit.

Output:

If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

**Instructions:**

To create this function, you can use the formula to convert the temperature in Celsius to Fahrenheit. The formula for converting Celsius to Fahrenheit is F = (C * 9/5) + 32, where F is the temperature in Fahrenheit and C is the temperature in Celsius.

## **Sum odd Numbers** âž–

In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

ðŸ’» Code:

In [ ]:
# define sum_odd custom function
def sum_odd(lst):
    # Initialize a variable to store the sum of odd numbers
    result = 0

    # Iterate through the list
    for num in lst:
        # Check if the number is odd
        if num % 2 != 0:
            # Add the odd number to the result
            result += num

    return result

# Test the function
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = sum_odd(number_list)
print(f"The sum of odd numbers in the list is: {result}")

The sum of odd numbers in the list is: 25

**ðŸ§ª Test Code:**

In [ ]:
# test here

# Test the function
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = sum_odd_numbers(number_list)
print(f"The sum of odd numbers in the list is: {result}")

The sum of odd numbers in the list is: 25

ðŸ¤– Output should be in format:

If the input is [1, 2, 3, 4, 5, 6], then the output should be 9

**Instructions:**

To create the sum_odd function, follow these steps:

1. Define a function named sum_odd that takes one argument, lst.
2. Inside the function, create a variable named result and set its value to 0.
3. Use a for loop to iterate through each element in lst.
4. For each element, check if it is odd by using the modulus operator (%). If the result not is 0, add the element to result.
5. After the loop, return result.

# **Advanced Looping Concepts**

## **Lambda Functions**

ðŸ§‘â€ðŸ’» You are working as a Python developer for a startup company that has just received a project from a client. The client wants a program that can perform certain operations on lists using lambda functions. Your manager has assigned you the task of finding the sum of squared odd numbers from the list.

ðŸ‘‰ Hint: You have to use filter, map and reduce functions to get the task done.

In [ ]:
# Import reduce from functools module
from functools import reduce

# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Write your code here

**Instructions:**

1. Begin by creating a list of numbers from 1 to 10.
2. Use a lambda function to filter out all even numbers from the list.
3. Use a lambda function to square all the remaining odd numbers in the filtered list.
4. Use a lambda function to find the sum of all the squared odd numbers in the list.
5. Print the final result.

**The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in â€œfunctoolsâ€ module.**
No need to worry if you haven't used this function before. You can get some additional information about the function here: https://www.geeksforgeeks.org/reduce-in-python/

## **Pizza Toppings**

ðŸ•ðŸ” You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

ðŸ‘‰ Hint: You can use a conditional statement to check the length of each topping's name.

In [ ]:
# Here are the example lists of toppings
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

# Write your code here


# Combine both lists with toppings having more than 5 characters in their names
combined_toppings = [topping for topping in pizza_toppings + burger_toppings if len(topping) > 5]

# Print the result
print(combined_toppings)

['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']

**Instructions:**

1. Create two lists of toppings, one for pizza and one for burgers.

2. Use list comprehension to iterate over both the pizza and burger toppings lists, and combine them into a new list.

3. Use a conditional statement to check the length of each topping's name, and only include it in the new list if it has more than 5 characters.

## **Sales Data**

ðŸŒŽðŸ›ï¸ Suppose you work for a company that sells products in different countries. You have been given two lists: one containing the names of the countries where the company sells its products, and the other containing the sales data for each country. Your task is to create a dictionary where the keys are the country names, and the values are the corresponding sales data. However, the sales data should only include values that are greater than 1000. You are not allowed to use any loops, and must use list comprehension to solve the problem.

Can you write the code to create the desired dictionary using list comprehension?

ðŸ‘‰ Hint: You can use zip function to create pairs of country and sales data from the two lists.

In [ ]:
# Here are the two lists
countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]

# Write your code here
# Use zip to create a list of pairs (country, sales data)
pairs = list(zip(countries, sales))

# Use list comprehension to create the dictionary with sales data > 1000
sales_dict = {country: sales for country, sales in pairs if sales > 1000}

# Print the resulting dictionary
print(sales_dict)

{'USA': 2500, 'Mexico': 1200, 'France': 2000, 'Germany': 4000, 'India': 1500}

**Instructions:**

1. Use zip function to create a list of pairs, where each pair contains a country name and its corresponding sales data.

2. Use list comprehension to create a dictionary where the keys are the country names and the values are the sales data. However, only include sales data that are greater than 1000.

## **Stock Filtering**

ðŸ“ŠðŸ“ˆ Suppose you are working for a company that deals with financial data. You have been given a list of dictionaries, where each dictionary contains the following information about a stock: name, ticker symbol, price, and percentage change in price. Your task is to create a new list of dictionaries, where each dictionary contains only the name and price of the stock, but only for those stocks where the price is greater than 100 and the percentage change is positive. You must use list comprehension to solve the problem.

Can you write the code to create the desired list of dictionaries using list comprehension?

ðŸ‘‰ Hint: You can use conditional statements to check if the price is greater than 100 and the percentage change is positive in the list comprehension.

In [ ]:
# Define a list of dictionaries with stock information
stocks = [
    {"name": "Company A", "ticker": "A", "price": 120, "percentage_change": 5.0},
    {"name": "Company B", "ticker": "B", "price": 90, "percentage_change": -2.0},
    {"name": "Company C", "ticker": "C", "price": 110, "percentage_change": 3.5},
    {"name": "Company D", "ticker": "D", "price": 95, "percentage_change": 1.8},
    {"name": "Company E", "ticker": "E", "price": 130, "percentage_change": 6.2},
]

# Use list comprehension to filter stocks based on conditions
filtered_stocks = [{"name": stock["name"], "price": stock["price"]} for stock in stocks if stock["price"] > 100 and stock["percentage_change"] > 0]

# Print the resulting list of dictionaries
print(filtered_stocks)

[{'name': 'Company A', 'price': 120}, {'name': 'Company C', 'price': 110}, {'name': 'Company E', 'price': 130}]

In [ ]:
new_stocks

[{'name': 'Apple Inc.', 'price': 120.0},
 {'name': 'Microsoft Corporation', 'price': 95.0},
 {'name': 'Amazon.com, Inc.', 'price': 250.0},
 {'name': 'Alphabet Inc.', 'price': 110.0},
 {'name': 'Facebook, Inc.', 'price': 80.0}]

**Instructions:**

1. Use list comprehension to filter the stocks where the price is greater than 100 and the percentage change is positive.

2. Use list comprehension to create a new list of dictionaries where each dictionary contains only the name and price of the stock.

## **Duplicate Songs**

ðŸŽµðŸŽ¶ You have a list of songs that you like to listen to, but you notice that some of the songs have duplicate names. You want to create a new set that contains the unique names of all the songs and keep the songs whose name doesn't start with "S" and doesn't end with "n" in your list using set comprehension.

Can you write the code to create a new set that contains the unique names of all the songs in your list using set comprehension only?

ðŸ‘‰ Hint: Set comprehension is similar to list comprehension, but with curly braces {} instead of square brackets [].

In [ ]:
# Here's an example list of songs
songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']

# Write your code here
# Use set comprehension to create a new set of unique names
unique_song_names = {song for song in songs if not (song.startswith("S") and song.endswith("n"))}

# Print the resulting set of unique song names
print(unique_song_names)

{'Hotel California', 'November Rain', 'Bohemian Rhapsody', "Sweet Child O' Mine"}

**Instructions:**

1. Create a list of songs that contains duplicate names.

2. Use set comprehension to iterate over the list of songs and create a new set that contains only the unique names of the songs.

3. Include a condition in the set comprehension to filter out songs whose name starts with "S" and ends with "n".

# **OOPs in Python**

## **Building a Simple Calculator** ðŸ§®ðŸ”¢


In this activity, you will build a simple calculator program in Python using Object-Oriented Programming (OOP) concepts.

In [ ]:
# Define a simple calculator class

class Calculator:
    def add(self, num1, num2):
        return num1 + num2

    def subtract(self, num1, num2):
        return num1 - num2

    def multiply(self, num1, num2):
        return num1 * num2

    def divide(self, num1, num2):
        if num2 == 0:
            raise ValueError("Cannot divide by zero")
        return num1 / num2

# Create an instance of the Calculator class
calculator = Calculator()

In [ ]:

# Test the calculator methods
print("Addition:", calculator.add(5, 3))
print("Subtraction:", calculator.subtract(8, 2))
print("Multiplication:", calculator.multiply(4, 6))
try:
    print("Division:", calculator.divide(10, 2))
    print("Division by zero:", calculator.divide(5, 0))  # This will raise a ValueError
except ValueError as e:
    print(e)

Addition: 8
Subtraction: 6
Multiplication: 24
Division: 5.0
Cannot divide by zero

ðŸ‘‰ **Instructions:**

1. Start by defining a class called Calculator.
2. Define four methods within the class: add, subtract, multiply, and divide.
3. Each method should take two arguments: num1 and num2.
4. The add method should return the sum of num1 and num2.
5. The subtract method should return the difference between num1 and num2.
6. The multiply method should return the product of num1 and num2.
7. The divide method should return the result of dividing num1 by num2. However, if num2 is zero, the method should raise a ValueError with the message "Cannot divide by zero".

## ðŸ€**Basketball Game Score Tracker**ðŸ“ˆ

Create a class that will keep track of the score of a basketball game. The class should have methods for updating the score and printing the current score.

In [ ]:
# Create BasketballGame class
class BasketballGame:
    def __init__(self):
        self.team1_score = 0
        self.team2_score = 0

    def update_score_team1(self, points):
        self.team1_score += points

    def update_score_team2(self, points):
        self.team2_score += points

    def print_score(self):
        print(f"Team 1: {self.team1_score} points")
        print(f"Team 2: {self.team2_score} points")

# Create an instance of the BasketballGame class
game = BasketballGame()

# Update the score for both teams
game.update_score_team1(2)
game.update_score_team2(3)
game.update_score_team1(1)
game.update_score_team2(2)

# Print the current score
game.print_score()

Team 1: 3 points
Team 2: 5 points

In [ ]:
# Example Usage:

ðŸ‘‰ **Instructions:**

1. Start by creating a class called "BasketballGame".
2. In the class constructor, initialize the score for both teams to 0.
3. Add methods to the class for updating the score for each team. These methods should take in a number of points and add that to the appropriate team's score.
4. Add a method to the class for printing the current score. This method should print out the score for both teams.
5. Test your code by creating an instance of the "BasketballGame" class, updating the score for each team, and printing the current score.

## ðŸŽ¨ **Paint Brush Class** ðŸ–Œï¸

Create a Python class for a paint brush that has the following properties:

* Size (small, medium, or large)
* Color (red, blue, green, or yellow)
* Brand (Winsor & Newton, Liquitex, or Grumbacher)
* Type (round or flat)

In [ ]:
# Define PaintBrush Class

class PaintBrush:
    def __init__(self, size, color, brand, brush_type):
        self.size = size
        self.color = color
        self.brand = brand
        self.brush_type = brush_type

    def describe(self):
        description = f"Paint Brush Details:\nSize: {self.size}\nColor: {self.color}\nBrand: {self.brand}\nType: {self.brush_type}"
        return description

# Create an instance of the PaintBrush class
brush1 = PaintBrush("medium", "blue", "Winsor & Newton", "round")

# Describe the paint brush
print(brush1.describe())

Paint Brush Details:
Size: medium
Color: blue
Brand: Winsor & Newton
Type: round

Now, create an instance of the PaintBrush class with the following properties:

* Size: medium
* Color: red
* Brand: Winsor & Newton
* Type: round
* Call the paint() method on the instance to simulate painting with the brush.

In [ ]:
# Test Case

class PaintBrush:
    def __init__(self, size, color, brand, brush_type):
        self.size = size
        self.color = color
        self.brand = brand
        self.brush_type = brush_type

    def describe(self):
        description = f"Paint Brush Details:\nSize: {self.size}\nColor: {self.color}\nBrand: {self.brand}\nType: {self.brush_type}"
        return description

    def paint(self):
        print(f"Using the {self.size} {self.color} paintbrush to paint.")

# Create an instance of the PaintBrush class
brush1 = PaintBrush("medium", "red", "Winsor & Newton", "round")

# Describe the paint brush
print(brush1.describe())

# Simulate painting with the brush
brush1.paint()

Paint Brush Details:
Size: medium
Color: red
Brand: Winsor & Newton
Type: round
Using the medium red paintbrush to paint.

ðŸ‘‰ **Instructions:**

1. Start by defining the class using the keyword class, followed by the name of the class (in this case, "PaintBrush").

2. Within the class, define the __init__ method to initialize the properties of the paint brush. The method should take four parameters: size, color, brand, and brush_type. Use the self keyword to refer to the instance of the class.

3. Inside the __init__ method, assign the values of the parameters to instance variables using the self keyword.

4. Define a method named paint that prints out a message indicating the brush size, color, brand, and type.

5. Create an instance of the PaintBrush class by calling the class with the required parameters.

6. Call the paint() method on the instance to simulate painting with the brush.

## **Bank Account Management System** ðŸ’»ðŸ¦

Create a Bank Account Management System using Object-Oriented Programming (OOPs) in Python. The system should allow users to create and manage bank accounts, deposit and withdraw funds, and view account details.

In [ ]:
# Define a BankAccount class
class BankAccount:
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount}. New balance: ${self.balance}")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                print(f"Withdrew ${amount}. New balance: ${self.balance}")
            else:
                print("Insufficient funds.")
        else:
            print("Invalid withdrawal amount.")

    def account_details(self):
        print(f"Account Holder: {self.name}")
        print(f"Account Number: {self.account_number}")
        print(f"Balance: ${self.balance}")

# Create a new instance of the BankAccount class
account1 = BankAccount("John Doe", "1234567890", 1000)

# Deposit $500 into the account
account1.deposit(500)

# Withdraw $200 from the account
account1.withdraw(200)

# Display account details
account1.account_details()

Deposited $500. New balance: $1500
Withdrew $200. New balance: $1300
Account Holder: John Doe
Account Number: 1234567890
Balance: $1300

In [ ]:
# Test Case

ðŸ‘‰ **Instructions:**

1. Define a BankAccount class with an init() method that takes the name, account_number, and balance as parameters and initializes the instance variables.

2. Define the deposit() method that takes the amount to be deposited as a parameter and adds it to the balance. Also, print a message with the new balance.

3. Define the withdraw() method that takes the amount to be withdrawn as a parameter and checks if the account has sufficient balance. If yes, deduct the amount from the balance and print a message with the new balance. If not, print a message with the current balance.

4. Define the account_details() method that prints the name, account number, and balance of the account.

5. Create a new instance of the BankAccount class with some initial balance.

6. Test the deposit(), withdraw(), and account_details() methods of the BankAccount class by calling them on the instance created in step 5 with some test values.

# **Exception Handling**

## **Sum of first n Natural Numbers**

ðŸ’» Suppose you are working on a project that requires you to write a Python program that calculates the sum of the first n natural numbers. You wrote a program to solve the problem, but the code contains several errors that prevent it from executing properly. âŒ

Your task is to identify and rectify the errors in the code and write the correct program. ðŸ› ï¸

![Sum-of-natural-numbers.png]()

In [ ]:
# Code with errors
n = input("Enter a number: ")
sum = 0
for i in range(0, n+1):
  sum = sum + i
print("The sum of the first", n, "natural numbers is", sum

SyntaxError: ignored

In [ ]:
# Write your code here
# Input the value of n
n = int(input("Enter a positive integer n: "))

# Initialize the sum to 0
total = 0

# Calculate the sum of the first n natural numbers
for i in range(1, n + 1):  # Add 1 to include the last number
    total += i

# Display the result
print(f"The sum of the first {n} natural numbers is {total}.")

Enter a positive integer n: 5
The sum of the first 5 natural numbers is 15.

ðŸ‘‰ **Instructions:**

1. The input function returns a string, so we need to convert it to an integer using the int() function. ðŸ”¢
2. In the range() function, we need to provide an integer value for the upper limit. So, we need to convert the input to an integer as well. ðŸ”
3. We need to add 1 to the upper limit in the range() function to include the last number. âž•

## **Average Temperature** ðŸŒ¡ï¸ðŸŒ¡ï¸

You have been given a task to develop a program that calculates the average temperature ðŸŒ¡ï¸ of a city ðŸ¢ for a given week. You have written a program to solve the problem, but there seems to be some logical errors that are causing the program to output incorrect results. You are provided with two sets of weekly temperatures and need to find the average of each individual week.

Your task is to identify and rectify the logical errors in the code and write the correct program.

In [ ]:
# Temperature data for the week 1 and week 2
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

# Calculate the sum of all temperatures
for temperature in temperatures_w1:
  sum = sum + temperature

# Calculate the average temperature
average = sum / 7

# Output the result
print("The average temperature of the week is", sum, "degrees Celsius.")

In [ ]:
# Write your code here

ðŸ‘‰ **Instructions:**

1. The given temperature list is in celsius and we need to find the average of each individual week.
2. While iterating through each temperature we need to initialize a variable to start from zero otherwise it can start from any garbage value.
3. Next, find the average by dividing the sum of the temperatures by the length of the temperatures list.
4. Print the average temperature of the each week.

## **Handle that Error!** âŒâŒ

You are developing a Python program that requires user input. You want to make sure that your program doesn't crash due to invalid user input or unexpected errors ðŸ›‘. You have heard about exception handling in Python and want to implement it in your program to handle errors gracefully.

Your task is to implement exception handling in your program to handle invalid user input and unexpected errors.

In [ ]:
# Code without exception handling
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = num1 / num2

print("The result is: ", result)

In [ ]:
# Write your code here
# Temperature data for the week 1 and week 2
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

# Calculate the average temperature for week 1
sum_w1 = 0  # Initialize sum_w1 to 0
for temperature in temperatures_w1:
    sum_w1 += temperature

average_w1 = sum_w1 / len(temperatures_w1)  # Calculate the average

# Calculate the average temperature for week 2
sum_w2 = 0  # Initialize sum_w2 to 0
for temperature in temperatures_w2:
    sum_w2 += temperature

average_w2 = sum_w2 / len(temperatures_w2)  # Calculate the average

# Print the average temperatures
print("Average temperature for Week 1:", average_w1)
print("Average temperature for Week 2:", average_w2)

Average temperature for Week 1: 31.0
Average temperature for Week 2: 31.4

ðŸ‘‰ **Instructions:**

1. Add a try-except block to handle any errors that may occur during runtime.
2. In the try block, add the code that may raise an exception.
3. In the except block, add the code to handle the exception.

## **What's the time?** âŒšâŒš

Create a class Time which takes two inputs: hours and minutes to instantiate.

* Construct a method DisplayTime() which displays the time in AM/PM formats.

 * For example if the input is 14 hours and 45 mins, then this method will print "The time is 2:45 PM".
 * If the inputted hours exceeds 23 then print the message "The input hours should be less than 24" and if the inputted minutes exceeds 59 then print the message "The input minutes should be less than 60."
 * Also if the input is 12 hours 30 minutes, then the displayed time would be 12:30 PM

* Construct a method DisplayRatio() which should display the ratio of minutes to hours.
 * For example, (8 hours and 16 mins) should display 2. Use try, except block to account for ZeroDivisionError.

In [ ]:
# Write your code here

class Time:
    def __init__(self, hours, minutes):
        self.hours = hours
        self.minutes = minutes

    def DisplayTime(self):
        if self.hours < 0 or self.hours >= 24:
            print("The input hours should be between 0 and 23")
        elif self.minutes < 0 or self.minutes >= 60:
            print("The input minutes should be between 0 and 59")
        else:
            period = "AM" if self.hours < 12 else "PM"
            hours_display = self.hours if self.hours <= 12 else self.hours - 12
            print(f"The time is {hours_display}:{self.minutes:02d} {period}")

    def DisplayRatio(self):
        try:
            ratio = self.minutes / self.hours
            print(f"The ratio of minutes to hours is {ratio:.2f}")
        except ZeroDivisionError:
            print("Cannot calculate ratio: hours cannot be zero.")

Input: 23 hours and 45 minutes
The time is 11:45 PM
The ratio of minutes to hours is 1.96

Input: 34 hours and 50 minutes
The input hours should be between 0 and 23
The ratio of minutes to hours is 1.47

Input: 12 hours and 34 minutes
The time is 12:34 PM
The ratio of minutes to hours is 2.83

Input: 14 hours and 67 minutes
The input minutes should be between 0 and 59
The ratio of minutes to hours is 4.79

Input: 19 hours and 20 minutes
The time is 7:20 PM
The ratio of minutes to hours is 1.05

Input: 2 hours and 15 minutes
The time is 2:15 AM
The ratio of minutes to hours is 7.50

Input: 0 hours and 10 minutes
The time is 0:10 AM
Cannot calculate ratio: hours cannot be zero.

**ðŸ§ª Test Code:**

In [ ]:
# Check for few sample inputs of hours and mins
# Test cases
hour_min_list = [(23, 45), (34, 50), (12, 34), (14, 67), (19, 20), (2, 15), (0, 10)]

for hours, minutes in hour_min_list:
    print(f"\nInput: {hours} hours and {minutes} minutes")
    time_instance = Time(hours, minutes)
    time_instance.DisplayTime()
    time_instance.DisplayRatio()

Input: 23 hours and 45 minutes
The time is 11:45 PM
The ratio of minutes to hours is 1.96

Input: 34 hours and 50 minutes
The input hours should be between 0 and 23
The ratio of minutes to hours is 1.47

Input: 12 hours and 34 minutes
The time is 12:34 PM
The ratio of minutes to hours is 2.83

Input: 14 hours and 67 minutes
The input minutes should be between 0 and 59
The ratio of minutes to hours is 4.79

Input: 19 hours and 20 minutes
The time is 7:20 PM
The ratio of minutes to hours is 1.05

Input: 2 hours and 15 minutes
The time is 2:15 AM
The ratio of minutes to hours is 7.50

Input: 0 hours and 10 minutes
The time is 0:10 AM
Cannot calculate ratio: hours cannot be zero.

ðŸ‘‰ **Instructions:**

1. Create a class Time which takes two inputs: hours and minutes.
2. Instantiate the values using a function.
3. Then, define two functions for displaying the time in the format explained in the question and for displaying the ratio of hours to minutes.
4. Use try-except block for displaying the ratio to account for Zero Division Error.